<h1 id="category-name"><%= @category.name %></h1>

<div class="card">
  <div class="card-header">
    Seeds
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @seeds.each do |seed| %>
          <tr>
            <td><%= seed.name %></td>
            <td><%= seed.description %></td>
            
            <td><%= link_to 'Show', seed %></td>
            <td><%= link_to 'Edit', edit_seed_path(seed) %></td>
            <td><%= link_to 'Destroy', seed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'Back', seeds_path %>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var categoryName = document.getElementById("category-name");
    categoryName.addEventListener("click", function() {
      // Your JavaScript code here
      // You can perform actions when the category name is clicked
    });
  });
</script>
